n8n_automation_flow/Data_Enrichmment.json
{
  "name": "Data_Enrichmment_new",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "80ca29e5-3bf0-462f-a749-7e1bd5ee9e7f",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        0
      ],
      "id": "cdc47a33-99d5-4a01-b0bb-ccb65a9fd48a",
      "name": "Webhook",
      "webhookId": "80ca29e5-3bf0-462f-a749-7e1bd5ee9e7f"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3100/loki/api/v1/query_range",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=query",
              "value": "={run_id=\"{{ $json.body.run_id }}\", location=\"{{$json.body.location}}\"} |= \"error\""
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -416,
        -128
      ],
      "id": "f4dbfb36-7eae-4353-9ec5-0cdbbc16ee0b",
      "name": "Loki Logs"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:9090/api/v1/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=playwright_test_total{run_id=\"{{$json.body.run_id}}\",location=\"{{$json.body.location}}\",status=\"failure\"}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -416,
        160
      ],
      "id": "e5da2495-17d5-45aa-8b95-0d7a99d28ec9",
      "name": "Prometheus Metrics"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -16,
        0
      ],
      "id": "825962ee-3f76-4341-a143-c3da857373cd",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      suite: $('Webhook').first().json.body.suite,\n      run_id: $('Webhook').first().json.body.run_id,\n      location: $('Webhook').first().json.body.location,\n      build_url: $('Webhook').first().json.body.build_url,\n\n      // Loki logs\n      logs: $(\"Loki Logs\").json.data.result.length > 0\n        ? $node[\"Loki Logs\"].json.data.result[0].values.map(v => v[1]).join(\"\\n\")\n        : \"No logs found\",\n\n      // Prometheus metrics\n      failure_count: $n[\"Prometheus Metrics\"].json.data.result.length > 0\n        ? $node[\"Prometheus Metrics\"].json.data.result[0].value[1]\n        : \"0\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        0
      ],
      "id": "a3b6b466-6a10-47d9-93ea-f32061c6907e",
      "name": "Function Node"
    },
    {
      "parameters": {
        "subject": "=🚨 Test Failed - {{ $('Webhook').item.json.body.suite }} (Run:{{ $('Webhook').item.json.body.run_id }} )",
        "emailFormat": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        448,
        0
      ],
      "id": "f001138b-70dd-440e-ac59-5a1a3094f83d",
      "name": "Send email1",
      "webhookId": "0fb9ac79-2a4a-45be-a996-63cc3e33ef89",
      "credentials": {
        "smtp": {
          "id": "",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Loki Logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prometheus Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loki Logs": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prometheus Metrics": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Function Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function Node": {
      "main": [
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0c2fe19e-d4ae-4548-8ba1-99b0403e0f4c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d69fcc9f72f61a1b4b55684875da003d91aa6d4ae0ff158174ff32682c396c7"
  },
  "id": "Jtv5HYInlCDsHTWK",
  "tags": []
}
